<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia do Programador</title>
</head>
<body>
    <h1>Guia de perguntas</h1>
    <br>
    <h1>Lista de perguntas</h1>

    <!-- <--! "<%= %>" significa exibir valor da variável !!-->

    <p>Nome: <%= nome %> </p>
    <p>Linguagem: <%= lang %> </p>
    <p>Empresa: <%= empresa %> </p>
    
    <% if(msg == true) { %>
        <h3>Isso é uma mensagem de erro</h3>
    <% } else { %>
        <h3>Nenhum erro</h3>
        <% } %>

    <% produtos.forEach(function(produto) { %> <!-- <--! Para cada elemento do forEach ele recebe um produto exibindo o nome e o preço !!-->
        <hr>
        <h4>Nome: <%= produto.nome %></h4>
        <h4>Preço: <%= produto.preco %></h4>
    <% }) %>
</body>
</html>