<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="container">
        <hr>
        <h2><%= pergunta.titulo %></h2>
        <hr>

        <h4> <%= pergunta.descricao %> </h4>
        <hr>
        <br>
                
        <h4>Responda</h4>
            <form action="/responder" method="post">
                <label for="corpo">Resposta</label>
                    <textarea placeholder="Digite sua resposta" class="form-control" name="corpo" cols="30" rows="3"></textarea>
                    <br>
                    
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <button type="submit" class="btn btn-primary">Responder</button>
            </form>
        
    </div>
</body>
<%- include('./partials/footer.ejs') %>

